.hasBackgroundLight {
    background-color: #ebf2f2 !important;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;    
}

.searchInput {
    position: relative;
    align-items: center;
    display: flex;
    top: 45;
    font-family: "Open Sans", sans-serif;
    padding: 3px;
    color: #000000;
    font-weight: 600;
    font-size: 0.94rem;
    border: 2px solid #111;
    border-radius: 0px;
    background: transparent;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    max-width: 82.5%;
    margin-left: 84px;
    margin-right: 84px;
}

.card {
    display: block;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: none;
    box-shadow: 0 0 0 rgba(108, 135, 135, 0.2);
    transform: translateY(0);
    transition: all 0.2s;
}

a.card:focus,
a.card:hover {
    box-shadow: 0 10px 20px 0 rgba(108, 135, 135, 0.2);
    text-decoration: none;
    top: -3px;
    transform: translateY(-3px);
}

.projectItem {
    display: flex;
    gap: 20px;
}

.projectItem > .image {
    flex: 1 1;
    min-width: 120px;
    text-align: center;
}

.projectItem > .image > img {
    height: 120px;
    max-width: 120px;
}

.projectInfo h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.py3 {
    padding: 0.75em 0;
    line-height: 1.7rem;
    font-family:
        Open Sans,
        sans-serif;
}

@media (max-width: 800px) {
    .list {
        margin-left: 64px;
        margin-right: 64px;
    }
}

@media (max-width: 900px) {
    .hasBackgroundLight {
        margin: 48px 0px;
        padding: 0px 32px;
    }
}

@media (max-width: 1000px) {
    .list {
        margin-left: 82px;
        margin-right: 82px;
    }

    .projectItem {
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1216px) {
    .container:not(.is-max-desktop) {
        max-width: 1152px;
    }
}
