.hasBackgroundLight {
    background-color: #ebf2f2 !important;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;    
}

@media (max-width: 900px) {
    .hasBackgroundLight {
        margin: 48px 0px;
        padding: 0px 32px;
    }
}