.main a:hover {
    text-decoration: underline;
}
@media (max-width: 1000px) {
    .main {
        padding-top: 52px;
    }
}
.signupHeader {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px 30px;
    font-size: 2.2rem;
}

